TP/tp6/exemple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
  <xs:element name="personne">
    
  </xs:element>
  <xs:element name="nom" type="xs:string"/>
  <xs:element name="age" type="xs:integer"/>
</xs:schema>

 <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom"/>
        <xs:element ref="age"/>
      </xs:sequence>
      <xs:attribute ref="xsi:noNamespaceSchemaLocation" use="required"/>
    </xs:complexType>